@page
@model DoAnMonHoc_23880108.Pages.MH_TrangChuModel
@{
    
}
<div class="text-center" style="font-weight: bold">
    <h1 class="display-4">CHÀO MỪNG ĐẾN VỚI CHƯƠNG TRÌNH QUẢN LÝ CỬA HÀNG</h1>
</div>