@page
@model DoAnMonHoc_23880108.Pages.MH_XoaLoaiHangModel
@{
}
<p>@Model.Chuoi</p>
<p>@Model.tuKhoa</p>
@if (Model.tuKhoa == string.Empty)
{
	<div>
		<form method="POST">
			<input type="submit" value="Xóa" />
		</form>
	</div>
}